{% extends 'base.html' %}
{% block content %}
<h2>Yüklenen Dosyalar</h2>

<ul>
    {% for file in files %}
    <li>
        {{ file }}
        - <a href="{{ url_for('static', filename='uploads/' + file) }}" target="_blank">Görüntüle</a>
        <form action="{{ url_for('main.delete_file', filename=file) }}" method="POST" style="display:inline;">
            <button type="submit">Sil</button>
        </form>
    </li>
    {% endfor %}
</ul>

<a href="{{ url_for('main.upload') }}">Dosya Yükle</a> |
<a href="{{ url_for('main.logout') }}">Çıkış Yap</a>
{% endblock %}
